.custom-select {
  position: relative;
  width: 200px;
  font-family: 'Inter', sans-serif;
  font-size: 0.95rem;
  cursor: pointer;
}

.custom-select-header {
  background: var(--input-bg);
  color: var(--text-main);
  padding: 0.6rem 1rem;
  border-radius: var(--radius);
  border: 1px solid var(--input-border);
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: var(--input-shadow);
  transition: all 0.3s ease;
}

.custom-select-header:hover {
  background: var(--dark-indigo-gradient);
  border-color: var(--primary);
}

.chevron {
  transition: transform 0.3s ease;
}

.chevron.open {
  transform: rotate(180deg);
}

.custom-select-options {
  position: absolute;
  top: calc(100% + 5px);
  left: 0;
  width: 100%;
  background: var(--bg-light);
  border-radius: var(--radius);
  box-shadow: 0 6px 20px rgba(0,0,0,0.4);
  z-index: 10;
  max-height: 70vh;
  overflow-y: auto;
  padding: 0.25rem 0;
}

.custom-select-option {
  padding: 0.5rem 1rem;
  transition: all 0.2s ease;
}

.custom-select-option:hover {
  background: var(--hover-dark);
  color: var(--text-main);
}

.custom-select-option.selected {
  font-weight: 700;
  color: var(--gold);
  background: var(--primary);
}
@media (max-width: 600px) {
  .custom-select {
  width: 160px;

}
}
