.sponsor{
    font-size: 1rem;
    background-color: #ffffff;
    padding: 0.5rem;    
    border-radius: 0.375rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  
}