/* PostViewer.css */
.post-viewer-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 50;
}

.post-viewer-container {
  max-width: 900px;
  width: 100%;
  background-color: #fff;
  border-radius: 0.5rem;
  overflow-y: auto;
}

.post-viewer-nav-btn {
  position: absolute;
  top: 15%;
  transform: translateY(-50%);
  background-color: rgba(75, 85, 99, 0.7);
  color: #fff;
  border-radius: 9999px;
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.post-viewer-nav-btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
